<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta httpEquiv="Content-Type" content="text/html" />
    <meta httpEquiv="cache-control" content="personal website" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no"
    />
    <meta name="theme-color" content="#623686" />
    <link href="./index.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="img/logo.png" href="./log.jpeg" />
    <title>My App</title>
  </head>
  <body>
    <div class="app">
      <h1>Welcome to my app!!</h1>
      
      <h2>To check the data please click on the link below:</h2>
      <div class="container">
      <div class="container-link">
        <a href="/posts">Posts</a>
      </div>
      <div class="container-link">
        <a href="/api-docs/">Api-Docs</a>
      </div>
      <div>
    </div>
  </body>
</html>
