h1 {
  /* dasdadasd a */
  color: red; /* Text Color ko change k liye */
  background-color: blue;
  /* text-align: start; */
  text-align: center;
  /* text-align: end; */
  /* text-decoration: line-through; */
  /* text-decoration: overline; */
  text-decoration: underline;
  /* text-decoration: underline dashed; */
  /* text-decoration: underline dotted; */
  /* text-decoration: underline double; */
  /* text-decoration: underline solid; */
  /* text-transform: uppercase; */
  /* text-transform: lowercase; */
  text-transform: capitalize;
  /* letter-spacing: 10px; */
  /* word-spacing: 50px; */
  /* word-spacing: 50px; */
  /* line-height: 150px; */
  /* height: 100px; */
  /* width: 100px; */
  /* font-size: 14px; */
  /* font-weight: 100; */
  font-style: italic;
  /* font-style: normal; */
  /* font-style: oblique; */
}

p {
  color: blue; /* Text Color ko change k liye */
  background-color: pink;
}
